# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.cfg

# Test binary, built with `go test -c`
*.test

#venv 
wine/
bin/
4.wine_market_analysis/
lib/
include/

4.wine_market_analysis/.DS_Store
.DS_Store

first_draft.ipynb
draft.sql
stream_draft.py